<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">

      <parameters>
        <parameter value="v11.0" />
        <!--<parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True;AttachDbFilename=|DataDirectory|BrKxx.mdf;" />-->
        <!--<parameter value="Data Source=(local); initial catalog=eftest; User ID=sa; Password=pass@word1; MultipleActiveResultSets=True" />-->
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="NorthwindContext" connectionString="Data Source=(localdb)\v11.0; Integrated Security=SSPI;Initial Catalog=NorthwindContext;AttachDbFilename=|DataDirectory|NorthwindContext.mdf;" providerName="System.Data.SqlClient" />
    <add name="NorthwindContextJoin" connectionString="Data Source=(localdb)\v11.0; Integrated Security=SSPI;Initial Catalog=NorthwindContextJoin;AttachDbFilename=|DataDirectory|NorthwindContextJoin.mdf;" providerName="System.Data.SqlClient" />
    <add name="SourthwindContext" connectionString="Data Source=(localdb)\v11.0; Integrated Security=SSPI;Initial Catalog=SourthwindContext;AttachDbFilename=|DataDirectory|SourthwindContext.mdf;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>